.row {
	margin-right: -15px;
	margin-left: -15px;
}
.grid12-1, .grid12-2, .grid12-3, .grid12-4, 
.grid12-5, .grid12-6, .grid12-7, .grid12-8, 
.grid12-9, .grid12-10, .grid12-11, .grid12-12, 
.grid-full, .grid-col2-sidebar, .grid-col2-main {
    display: inline;
    float: left;
    box-sizing: border-box;
    position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}
.tile-image .ban {
    text-align: center;
}
.ban-effect-fade-out .image {
    opacity: 1;
}

@media only screen and (min-width: 768px){
	.grid12-12.row1 {
	    width: 100%;
	    margin: 0;
	}
	.grid12-12.row1 .tile-image.grid12-4:nth-child(1) {
	    margin-left: 0;
	    width: 32.3%;
	    min-height: 420px;
	}
	.grid12-12.row1 .tile-image.grid12-4:nth-child(1) .ban {
	    min-height: 420px;
	}
	.tile-image .ban .image {
	    width: auto;
	    display: inline-block;
	    min-height: 220px;
	    text-align: center;
	}
}

@media (min-width: 992px) {
	.grid12-1, .grid12-2, .grid12-3, .grid12-4, .grid12-5, .grid12-6, .grid12-7, .grid12-8, .grid12-9, .grid12-10, .grid12-11, .grid12-12 {
		float: left;
	}
	.grid12-12 {
		width: 100%;
	}
	.grid12-11 {
		width: 91.66666667%;
	}
	.grid12-10 {
		width: 83.33333333%;
	}
	.grid12-9 {
		width: 75%;
	}
	.grid12-8 {
		width: 66.66666667%;
	}
	.grid12-7 {
		width: 58.33333333%;
	}
	.grid12-6 {
		width: 50%;
	}
	.grid12-5 {
		width: 41.66666667%;
	}
	.grid12-4 {
		width: 33.33333333%;
	}
	.grid12-3 {
		width: 25%;
	}
	.grid12-2 {
		width: 16.66666667%;
	}
	.grid12-1 {
		width: 8.33333333%;
	}
}